@import 'global';
@import 'vars';
.header {
    position: relative;
}

.header__slider {
    &-item {
        height: 100vh;
        background-image: url(../image/header_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }
}

.slider__item-info {
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;
}

.slider-item__info-subtitle {
    margin-bottom: 8px;
}

.slider__item-info-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: right;
    margin-bottom: 20px;
}

.slider-item__info-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    text-align: right;
    margin-bottom: 48px;
}

.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 5;
}

.slider-arrows-right {
    right: 125px;
}

.slider-dots {
    position: absolute;
    right: 80px;
    bottom: 0;
    & ul {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 0;
        list-style: none;
        & li {
            &.slick-active {
                & button {
                    border-color: #4AF6CD;
                }
            }
            & button {
                display: flex;
                justify-content: space-between;
                width: 200px;
                background: transparent;
                border: none;
                font-size: 16px;
                border-top: 4px solid #fff;
                padding-top: 11px;
                transition: all .3s;
            }
        }
    }
}

.header__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(#fff, 0.25);
    height: 100vh;
    text-align: center;
}

.header__title {
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    color: rgba(255, 255, 255, .07);
    mix-blend-mode: normal;
    max-width: 467px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.menu {
    margin-top: 50px;
    span {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 3px;
        padding-top: 6px;
        margin-bottom: 22px;
    }
}

.header__date {
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;
    margin-top: 20px;
    span {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.4px;
        display: block;
        width: 100%;
    }
}

.header__location {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    margin-top: 30px;
    &::before {
        content: url(../image/POI.svg);
        top: 0;
        left: 0;
        width: 11px;
        height: 13px;
    }
}

.header__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.header__arrows {
    position: absolute;
    left: 210px;
    bottom: 50px;
    z-index: 5;
}

.animate__animated.animate__fadeInDown {
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.animate-one {
    animation-delay: 1s;
}

.animate-two {
    animation-delay: 2s;
}

.animate-three {
    animation-delay: 3s;
}

.animate-four {
    animation-delay: 4s;
}

.animate-five {
    animation-delay: 5s;
}

.line-animation {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: animdash 3s infinite 6s;
}

@keyframes animdash {
    to {
        stroke-dashoffset: 0;
    }
}

.menu__item-text {
    text-transform: capitalize;
}

.slider-dots__number {
    color: #fff;
}

.slider-dots span {
    color: #fff;
}

.title {
    padding-top: 160px;
    span {
        font-weight: 800;
        font-size: 200px;
        color: rgba(#fff, 0.02);
        position: relative;
        transform: translateX(-50px);
        display: inline-block;
    }
    h3 {
        margin: 0;
        color: #fff;
        font-size: 80px;
        position: absolute;
        top: 0;
        right: -5px;
        &::after {
            content: ' ';
            position: absolute;
            top: 10px;
            right: 0;
            width: 80px;
            height: 1px;
            background-color: #4AF6CD;
        }
    }
}

.surf__subtitle {
    text-align: right;
    margin-right: 80px;
    margin-top: -80px;
}

.surf-box:nth-child(4n + 1) {
    margin-top: 32px;
}

.surf-box:nth-child(4n + 3) {
    margin-top: 89px;
}

.slick-current {
    .btn-box__inner-btn {
        display: block;
    }
    .surf-box__inner {
        background-color: rgba(#1C2121, .3);
    }
}

.surf-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner {
        min-height: 750px;
        background-color: rgba(#1C2121, .85);
        position: relative;
        top: 0;
        bottom: 0;
        transition: all .5s;
        &:hover {
            background-color: rgba(#1C2121, .3);
            .btn-box__inner-btn {
                display: block;
            }
        }
    }
}

.surf-slider {
    padding-top: 110px;
    .slick-arrow {
        top: 50px;
        opacity: 0.25;
    }
}

.surf-box__inner-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    padding: 72px 0 0 40px;
    width: 140px;
}

.surf-box__inner-location {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    position: absolute;
    left: 40px;
    bottom: 80px;
    width: 0;
    height: 0;
    white-space: nowrap;
    span {
        font-weight: 100;
    }
}

.btn-box__inner-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}

.slider-map {
    max-width: 1200px;
    min-height: 635px;
    background-image: url(../image/World-Map-Dots.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.slider-block {
    position: relative;
}

.slider-block--one {
    top: 335px;
    left: 0;
}

.slider-block--two {
    top: 270px;
    left: 0;
    .slider-block__circle {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../image/dot-on-map.svg);
            width: 14px;
            height: 17px;
            background-size: cover;
            top: -20px;
            right: -17px;
        }
    }
}

.slider-block--three {
    top: 317px;
    left: 35px;
}

.slider-block--four {
    top: 497px;
    left: -32px;
}

.slider-block--five {
    top: 215px;
    left: -71px;
}

.slider-block--six {
    top: 557px;
    left: -117px;
}

.slider-block--seven {
    top: 389px;
    left: -94px;
}

.slider-block--eight {
    top: 488px;
    left: 36px;
}

.slick-list {
    min-height: 635px;
}

.slider-block__circle {
    width: 24px;
    height: 24px;
    background-color: #4AF6CD;
    border-radius: 50%;
}

.slider-block__content {
    display: none;
}

.slick-current {
    .slider-block__content {
        display: block;
        width: 285px;
        padding: 28px 31px 31px 32px;
        background-color: rgba(15, 16, 16, 0.7);
        border-radius: 6px;
        position: absolute;
        bottom: 20px;
        transform: translateX(-60%);
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 20px solid #4AF6CD;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            bottom: -5px;
            left: 60%;
        }
        .slider-block__content-row {
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
        }
    }
    .slider-block__content--one {
        bottom: 35px;
        transform: translateX(0);
    }
}

.slider-block__content-head {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-color: #4AF6CD;
        width: 80px;
        height: 1px;
        bottom: 0;
        left: 0;
    }
}

.slider-block__content-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}

.slider-block__content-link {
    padding-top: 4px;
}

.slider-block__content-item {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    img {
        margin-bottom: 8px;
    }
}

.slider-block__content-number {
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
}

.slider-block__content-name {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}